<h1>All Artists</h1>

<% @artists.each do |artist| %>
  <div class="artist">
    <h2><%= artist.name %></h2>
    <%= artist.albums.count %> albums
    <div class="albums">
      <% artist.albums.each do |album| %>
        <h3><%= album.name %></h3>
        <div class="tracks">
          <% album.songs.each do |song| %>
            <div class="track">
              <%= song.name %>, <%= song.length %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <%= link_to "Add Album", new_album_path %>
  </div>
<% end %>
