<% if @user.present? %>
  <h1>Articles by <%= @user.name %></h1>
  <%= link_to 'Create new article', new_user_article_path(@user) %>
<% else %>
  <h1>All Articles</h1>
<% end %>

<% @articles.each do |article| %>
  <article>
    <h2><%= link_to article.title, [article.user, article] %></h2>
    <p><%= pluralize(article.comments.count, 'comment') %></p>
    <% if @user.blank? %>
      <p>Author: <%= link_to article.user.name, user_articles_path(article.user) %></p>
    <% end %>
    <p><%= truncate(article.body, length: 120) %></p>
  </article>
<% end %>
