<% if @user.present? %>
  <h1>Articles by <%= @user.name %></h1>
  <%= link_to 'Create new article', new_user_article_path(@user) %>
<% else %>
  <h1>All Articles</h1>
<% end %>

<% @articles.each do |article| %>
  <article>
    <h2><%= article.title %></h2>
    <% if @user.blank? %>
      <p>Author: <%= article.user.name %></p>
    <% end %>
    <p><%= article.body %></p>
  </article>
<% end %>
