<h3> Songs </h3>

<dl>
  <% @songs.each do |song| %>
    <dt> <%= link_to song.title, album_song_path(@album,song)  %> </dt>
    <dd>Artist <%= song.artist %> </dd>
    <dd>Duration <%= song.duration %> </dd>    
    <dd>Price <%= song.price%> </dd>        
    <dd>ID <%= song.id %> </dd>        
    <dd>Album <%= link_to song.album.name, album_path(song.album) %> </dd>            
    <dd>Edit <%= link_to song.title, edit_album_song_path(@album,
    song) %> </dd>        
    <dd>Delete <%= link_to song.title, album_song_path(@album,
    song), method: :delete, data: {confirm: 'Are you sure'} %> </dd>        
  <% end %>
</dl>

<%= link_to "New Song", new_album_song_path(@album) %>
