<!DOCTYPE html>
<html>
<head>
  <title>SharedBlog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= link_to 'All Articles', root_path %>
| <%= link_to 'Users', users_path %>
<% if admin_signed_in? %>
  | Signed in as <%= current_admin.email %>
  | <%= link_to 'Sign out', destroy_admin_session_path, method: :delete %>
<% end %>

<%= yield %>

</body>
</html>
